@{
    ViewBag.Title = "Informacion del Blog";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<article>
    <p>
        Este Blog esta orientado a desarrollo web, para proporcionar informacion que le pueda ayudar en su vida cotidiana.
    </p>

    <p>
        Se abarcan varios temas de desarrollo como lo es PHP, Razor, ASP.NET, entre otros.
    </p>

    <p>
        Dichos temas son informacion valida de fuentes confiables.
    </p>
</article>

