@{
    ViewBag.Title = "Informacion del Blogger";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<section class="contact">
       
</section>

<section class="contact">
    <header>
        <h3>Informacion del Blogger</h3>
    </header>
    <br>
    <p>
        <span class="label">Blogger:</span>
        <span><a href="https://www.facebook.com/josue.lopezsegura">joslose16@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Blog:</span>
        <span><a href="https://www.facebook.com/GloobsBlog?fref=ts">blognegro@gmail.com</a></span>
    </p>
    
</section>

<section class="contact">
    
       
</section>